# Unsure what init is doing here
allow init app_data_file:dir setattr;
allow init block_device:blk_file write;
allow init cid_block_device:blk_file setattr;
allow init clogo_block_device:blk_file setattr;
allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init hob_block_device:blk_file setattr;
allow init logs_block_device:blk_file setattr;
allow init property_socket:sock_file write;
allow init pstorefs:dir mounton;
allow init self:netlink_route_socket { bind create setopt };
allow init self:tcp_socket { create ioctl };
allow init sensors_device:chr_file { write ioctl };
allow init socket_device:sock_file { create setattr };
allow init thermal_device:chr_file ioctl;
allow init utags_block_device:blk_file { setattr write };

#audit2allow - hackintosh5 - penn5 - no idea what init is doing here either, but the system won't boot without it. looks like some missing file_contexts, track me down later and i'll fix them.
allow init hal_graphics_allocator_default:fd use;
allow init ion_device:chr_file { ioctl write };
allow init platform_app:binder transfer;
allow init priv_app:binder transfer;
#allow init batterystats_service:service_manager find;
allow init debugfs:file write;
#allow init default_android_service:service_manager { add find };
allow init graphics_device:chr_file ioctl;
#allow init hal_fingerprint_hwservice:hwservice_manager add;
allow init hal_sensors_hwservice:hwservice_manager find;
#allow init hal_telephony_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file ioctl;
allow init modem_efs_partition_device:blk_file write;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init netmgrd_socket:sock_file write;
allow init node:tcp_socket node_bind;
allow init node:udp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init port:udp_socket name_bind;
allow init priv_app:binder transfer;
allow init qdsp_device:chr_file ioctl;
allow init qmuxd_socket:sock_file write;
allow init radio:binder call;
allow init radio_data_file:file { ioctl lock };
#allow init rootfs:file execute_no_trans;
allow init rpmb_device:blk_file write;
#allow init self:binder { call transfer };
allow init self:capability2 block_suspend;
allow init self:netlink_route_socket { getattr nlmsg_read nlmsg_write read write };
allow init self:netlink_socket { read write };
allow init self:netlink_xfrm_socket { bind create getattr nlmsg_write read setopt write };
allow init self:rawip_socket { create getopt setopt };
#allow init self:socket { bind create ioctl read write };
allow init self:tcp_socket { bind getattr listen setopt };
#FIXME there really shouldn't be this much stuff being allowed. maybe some stuff needs allowing elsewhere or perhaps this is just OK?
