allow thermal-engine device:chr_file ioctl;
allow thermal-engine self:capability sys_nice;
allow thermal-engine thermal_device:chr_file { read write open };
#audit2allow - hackintosh5 - penn5
allow thermal-engine socket_device:sock_file { create setattr };
