#TODO: FIXME: DELETEME ### !!! I AM A THREAT TO SYSTEM SECURITY AND MOST OF ME SHOULD NOT BE HERE !!!###
#allow untrusted_app_25 config_gz:file getattr;
allow untrusted_app_25 e2fs_exec:file getattr;
#allow untrusted_app_25 fsck_exec:file getattr;
#allow untrusted_app_25 init:binder call;
allow untrusted_app_25 init:unix_stream_socket read;
allow untrusted_app_25 lmkd_exec:file getattr;
allow untrusted_app_25 logd_exec:file getattr;
#allow untrusted_app_25 mdnsd_exec:file getattr;
allow untrusted_app_25 mediadrmserver_exec:file getattr;
allow untrusted_app_25 mediaextractor_exec:file getattr;
allow untrusted_app_25 mediametrics_exec:file getattr;
allow untrusted_app_25 mediaserver_exec:file getattr;
#allow untrusted_app_25 mkfs_exec:file getattr;
allow untrusted_app_25 mtp_exec:file getattr;
allow untrusted_app_25 netd_exec:file getattr;
allow untrusted_app_25 netutils_wrapper_exec:file getattr;
allow untrusted_app_25 ppp_exec:file getattr;
#allow untrusted_app_25 proc:file { getattr open read };
allow untrusted_app_25 proc_interrupts:file getattr;
allow untrusted_app_25 proc_iomem:file getattr;
allow untrusted_app_25 proc_stat:file { getattr open read };
allow untrusted_app_25 proc_sysrq:file getattr;
allow untrusted_app_25 proc_timer:file getattr;
allow untrusted_app_25 proc_zoneinfo:file getattr;
allow untrusted_app_25 profman_exec:file getattr;
allow untrusted_app_25 racoon_exec:file getattr;
allow untrusted_app_25 sdcardd_exec:file getattr;
allow untrusted_app_25 servicemanager_exec:file getattr;
allow untrusted_app_25 sgdisk_exec:file getattr;
#allow untrusted_app_25 storaged_exec:file getattr;
#allow untrusted_app_25 surfaceflinger_exec:file getattr;
allow untrusted_app_25 sysfs:file { getattr open read };
#allow untrusted_app_25 sysinit_exec:file getattr;
allow untrusted_app_25 thermalserviced_exec:file getattr;
allow untrusted_app_25 tombstoned_exec:file getattr;
allow untrusted_app_25 tzdatacheck_exec:file getattr;
allow untrusted_app_25 uncrypt_exec:file getattr;
allow untrusted_app_25 vdc_exec:file getattr;
allow untrusted_app_25 vold_exec:file getattr;
allow untrusted_app_25 webview_zygote_exec:file getattr;
allow untrusted_app_25 wificond_exec:file getattr;
