#audit2allow - hackintosh5 - penn5 TODO: Surely this is not right...
#allow untrusted_app proc:file { getattr lock open read };
allow untrusted_app proc_stat:file { getattr open read };
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app sysfs_zram:file { getattr open read };
